[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neovim = "*"
"flake8" = "*"
isort = "*"
python-language-server = "*"

[dev-packages]

[requires]
python_version = "2.7"
