[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
"flake8" = "*"
future = "*"
greenlet = "*"
isort = "*"
jedi = "*"
json-rpc = "*"
mccabe = "*"
msgpack = "*"
neovim = "*"
parso = "*"
pluggy = "*"
pycodestyle = "*"
pydocstyle = "*"
pyflakes = "*"
pyparsing = "*"
python-language-server = "*"
rope = "*"
six = "*"
snowballstemmer = "*"
yapf = "*"
vint = "*"

[dev-packages]

[requires]
python_version = "3.6"
