[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-language-server = {extras = ["all"],version = "*"}
isort = "*"
pynvim = "*"
flake8 = "*"
black = "==19.3b0"

[dev-packages]

[requires]
python_version = "3.7"
