extends html, javascript, css

snippet gettext" "Create doublequoted gettext" i
{{ _("${1:${VISUAL}}") }}
endsnippet

snippet gettext' "Create singlequoted gettext" i
{{ _('${1:${VISUAL}}') }}
endsnippet

snippet macro "Create Jinja Macro"
{% macro ${1:name}(${2}) %}
${0:${VISUAL}}
{% endmacro %}
endsnippet
