snippet gettext" "Create doublequoted gettext" i
{{ _("${1:${VISUAL}}") }}
endsnippet

snippet gettext' "Create singlequoted gettext" i
{{ _('${1:${VISUAL}}') }}
endsnippet

snippet macro "Create Jinja Macro"
{% macro ${1:name}(${2}) %}
${0:${VISUAL}}
{% endmacro %}
endsnippet

snippet linkv "Create anchor tag from visual selection" i
<a href="${1:${VISUAL}}" target="_blank">${0:${VISUAL}}</a>
endsnippet
